*{
    padding: 0;
    margin: 0;

}

body{
    background: linear-gradient(to right, #0d3b66, #1c7293);

    height: 100%;
}
.container{
 width: 90%;
 height: 90%;
}
.content {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
 text-align: center;
 
}
.content .curd{
width:350px;
 height: 200px;
margin: 20px;
text-align: center;
 margin-right: auto;
background-color: #f0f0f0;
box-shadow: 10px 30px 15px rgba(0, 0, 0, 0.2);
 position: relative;
 border-radius: 20px;
}
 
.content .curd h1{
background-color: #f0f0f0;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
color: #0d3b66;
width: 100%;
border-radius: 5px;
padding-bottom: 4px;
}
.content .curd span{
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%  ,-50%);
font-weight: bold;
font-size: x-large;
margin-top: 5px;
}
@media(max-width:767px) {
.content {
    display: flex;
    flex-direction: column;
}
.content .curd{
    height: 100px;
    margin: 8px;
    position: relative;

}
.content .curd span{
 padding-top: 15px;
}
.container{
    width: 80%;
 
   }
   .content .curd h1{
    border-radius: 9px;
    padding-bottom: 5px;
   }
   
}
 